---
import Layout from "../layouts/Layout.astro";
import Jumpbotron from "../components/Jumpbotron.astro";
import TarjetaIndex from "../components/Tarjeta_index.astro";
import TarjetaIndexGen1 from "../components/Tarjeta_index_gen.astro";
import TarjetaIndexGen2 from "../components/Tarjeta_index_gen2.astro";
import TarjetaIndexGen3 from "../components/Tarjeta_index_gen3.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Jumpbotron />
	<div class="tarjeta">
		<div class="tarjetagen">
			<!--PARRAFOS PARA LOS SALTOS DE LINEAS -->
			<div class="titulo">
				<h3>
					Para todos, desde <br /> emprendedores hasta <br /> empresas
				</h3>
				<p class="text titulo">
					Millones de comerciantes de todos los tamaños han <br /> generado
					colectivamente US$1.000.000.000.000 <br />en ventas en
					Shopify.
				</p>
			</div>
			<div class="tarjetaindex">
				<TarjetaIndex
					title="Comienza con rapidez "
					description=" Megan Bre Camp, vendedora en solitario, puso en marcha Summer Solace Tallow para vender sus velas y productos para el cuidado de la piel orgánicos tanto online como en mercados locale"
					imgURL="/4ce35eba1e546a23ff875c3eba8b5705.avif"
				/>
				<TarjetaIndex
					title="Crece todo lo que quieras "
					description=" La marca de atletismo Gymshark pasó de trabajar en un garaje a convertirse en la empresa mundial que es hoy, con más de US$500 millones en ventas anuales."
					imgURL="/2083b4178afc5db338c7d6081f8a5838.webp"
				/>
				<TarjetaIndex
					title="Aumenta tus expectativas "
					description=" Con la ayuda de Shopify para empresas, Mattel vende sus icónicos juguetes directamente a clientes en todo el mundo."
					imgURL="/7c3d68ca99f2f743df8cb1187bbd2cb1.webp"
				/>
			</div>
		</div>
		<div class="tarjetaboton">
			<button class="tarjetaboton"
				>Elige un plan que se adapte a tus necesidades</button
			>
		</div>
		<div class="online">
			<div class="titulo">
				<div class="seccion">
					<p class="seccion">Online y en persona</p>
					<h3>Vende en cualquier parte</h3>
				</div>
				<p class="textotitulo">
					Desarrolla una tienda atractiva y lista para vender, ya <br
					/>sea que la crees desde cero o empieces rápidamente <br
					/>con temas prediseñados.
				</p>
			</div>
			<div class="tarjetaonline">
				<div class="img">
					<img src="/8c8ce0cb1790bd744fcfa1d0ad675ad6.webp" />
				</div>
				<div class="tarjetaindex">
					<TarjetaIndexGen1
						title="Punto de venta en persona"
						description="Vende en persona y mantén las ventas offline y online sincronizadas con Shopify POS."
						imgURL="/d506d9f3e87f513278c8e00794dbf8dd.webp"
					/>
					<TarjetaIndexGen1
						title="Publica en distintos canales"
						description="Aparece en los lugares en los que los compradores se desplazan, buscan y compran con la integración multicanal."
						imgURL="/5e17044de49f1e14cd6aa62f77e3f32f.webp"
					/>
					<TarjetaIndexGen1
						title="Con la mejor tecnología de pago del mundo"
						description="Shopify Checkout es rápido, totalmente personalizable y optimizado para concretar más ventas."
						imgURL="/descarga.png"
					/>
				</div>
			</div>
		</div>
		<div class="online">
			<div class="titulo">
				<div class="seccion">
					<p class="seccion">Directo y mayorista.</p>
					<h3>Encuentra a tus clientes <br />más leales</h3>
				</div>
			</div>
			<div class="tarjetaindex">
				<TarjetaIndexGen2
					title="Llega a los clientes adecuados por menos"
					description="Atrae nuevos clientes y haz que vuelvan por más con herramientas de marketing integradas e Informes y estadísticas útiles."
					imgURL="/b911e9598e791eefb3bac79645c382d2.webp"
				/>
				<TarjetaIndexGen2
					title="Impulsa el crecimiento con B2B"
					description="Crea experiencias personalizadas para compradores mayoristas con fijación de precios, descuentos y condiciones de pago flexibles."
					imgURL="/0aadc9a959a2ca1cbb15fed83f7dc9cd.webp"
				/>
			</div>
		</div>
		<div class="online">
			<div class="titulo">
				<div class="seccion">
					<p class="seccion">Local y global</p>
					<h3>Crece en todo el mundo</h3>
				</div>
			</div>
			<!--FALTA IMAGEN -->
			<div class="tarjetaindex">
				<TarjetaIndexGen3
				title="Vende y realiza envíos a todas partes" 
				description="Shopify reduce la complejidad de las ventas internacionales, con entregas de productos más rápidas y asequibles, así como con la localización de tu experiencia con Shopify Markets." 
				imgURL="/41892431.png" 
				/>
			</div>
		</div>
		<div class="online">
			<div class="titulo">
				<div class="seccion">
					<p class="seccion">Computadoras y dispositivos móviles</p>
					<h3>Cuida tu negocio</h3>
				</div>
			</div>
			<div class="tarjetaindex">
				<TarjetaIndexGen2 
				title="Gestiona todo en un solo lugar" 
				description="Desde la oficina administrativa hasta la tienda, siempre tendrás el poder con el panel de control de Shopify totalmente centralizado." 
				imgURL="/as4f56ascz.png" 
				/>
				<TarjetaIndexGen2
				title="Gestiona tu tienda desde cualquier lugar" 
				description="Haz todo desde tu bolsillo con la completa aplicación móvil de Shopify." 
				imgURL="/as874c98sd4gjyr.png" 
				/>
			</div>
		</div>
	</div>
</Layout>

<style>
	.img {
		border-radius: 15px;
		background-color: #061a1c;
		overflow: hidden;
	}
	img {
		width: 100%;
		height: 250;
		object-fit: cover;
		
		transition: transform 0.3s ease-in-out;
	}
	img:hover{
		transform: scale(1.1);
	}
	h3{
		font-size: 2.5em;
	}
	p {
		font-size: 1.2em;
		color: gray;
	}
	p.seccion {
		font-size: 1.3em;
		color: aqua;
	}
	div.seccion {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	div.tarjeta {
		display: flex;
		flex-direction: column;
		gap: 48px;
		background-color: #02090a;;
		color: white;
		padding: 24px 96px;
	}
	div.titulo {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0px 32px;
	}
	div.tarjetaindex {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 24px;
	}
	div.tarjetaboton {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 36px;
	}
	button.tarjetaboton {
		font-size: 1.1em;
		padding: 12px;
		color: white;
		background-color: transparent;
		border: solid 2px;
		border-radius: 30px;
		font-weight: 550;
	}
	div.online {
		display: flex;
		flex-direction: column;
		gap: 48px;
		padding: 36px 0 0;
	}
	div.tarjetagen {
		display: flex;
		flex-direction: column;
		gap: 48px;
		
	}
	div.tarjetaonline {
		display: flex;
		flex-direction: column;
		gap: 48px;
	}
	button{
		transition: opacity 0.3s ease-in;
		transition: background-color 0.3s ease-in;
		transition: color 0.3s ease-in;
	}
	button:hover{
		opacity: 0.8;
		background-color: white;
		color: black;
		border-color: white;
	}
</style>
