---
import { Icon } from "astro-icon/components";
---

<div class="jumpbotron">
    <div>
        <p class="Titulo">Tu negocio puede ser</p>
        <p class="Titulo">un exito rotundo</p>
    </div>
    <div class="text">
        <div>
            <p>Sueña en grande, construye</p>
            <p>rápido y llega lejos con Shopify.</p>
        </div>
        <div class="boton">
            <div class="botones">
                <a href="/register" class="gratis">Comienza Gratis</a>
                <a href="/prices" class="planes">Ver Planes</a>
            </div>
            <button class="botontext">
                <Icon name="tabler:caret-right-filled" width="32" height="32" />
                Por qué creemos Shopify
            </button>
        </div>
    </div>
</div>

<style>
    .jumpbotron {
        display: flex;
        flex-direction: column;
        gap: 72px;
        background-image: url("/");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: black;
        padding: 220px 96px;
        color: white;
    }
    .text {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    .botontext {
        display: flex;
        align-items: center;
    }
    button,a{
        padding: 16px 24px;
        border-radius: 48px;
        background-color: black;
        color: white;
        border: transparent 2px;
        font-weight: 500;
        font-size: 1.3em;

        transition: opacity 0.3s ease-in-out;
        transition: text-decoration 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out;
    }
    button,a:hover {
        opacity: 0.8;
    }
    button.botontext:hover {
        text-decoration: underline;
    }
    a.planes:hover {
        background-color: white;
        color: black;
        border-color: white;
    }
    a.gratis {
        background-color: white;
        color: black;
    }
    a.planes {
        border: solid 2px;
    }
    div.botones {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    div.boton {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .Titulo {
        font-size: 5em;
        font-weight: 400;
    }
    p {
        font-size: 1.5em;
        font-weight: 400;
    }
</style>
