---
interface Props {
    titulo: string;
    subtitulo: string;
}
const { titulo, subtitulo } = Astro.props;
---

<div class="jumpbotron">
    <p class="titulo">PLANES Y PRECIOS</p>
    <div class="jump">
        <p class="titulojump">Comienza gratis y,</p>
        <p class="titulojump">luego, disfruta de</p>
        <p class="titulojump">por USD 1 al mes por 3 meses</p>
        <h2>Elige el mejor plan para tu negocio. Cambia de plan a medida que crezcas.</h2>
    </div>
    <div class="email">
        <form class="email" action="">
            <input class="email" type="email" name="" id="" placeholder="Introduce tu correo electronico"/>
            <input class="boton" type="submit" value="Prueba gratis" />
        </form>
        <p class="email">
            Prueba Shopify gratis, sin tarjeta de crédito. Al ingresar tu correo
        </p>
        <p class="email">
            electrónico, aceptas recibir correos electrónicos de marketing de 
        </p>
        <p class="email">
            Shopify.
        </p>
    </div>
</div>
<style>
    .jumpbotron {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background: #def3ff;
        background: radial-gradient(circle, rgba(222, 243, 255, 1) 10%, rgba(188, 232, 232, 1) 93%);
        padding: 60px;
        color: black;
    }
    div.jump{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    div.email{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
    form.email{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: white;
        border: solid 2px;
        border-color: rgb(114, 111, 108);
        border-radius: 30px;
        padding: 6px;

        transition: border 0.6s ease-in;
        transition: border-color 0.3s ease-in;
        transition: border-radius 0.3s ease-in;
    }
    form:focus-within{
        border: solid 2px;
        border-color: blue;
        border-radius: 30px;
    }
    input.boton:hover{
        opacity: 0.8;
    }
    input.email{
        background-color: transparent;
        width: 600px;
        padding: 6px;
        color: black;
    }
    input.boton{
        background-color: black;
        color: white;
        padding: 18px;
        border: transparent 2px;
        border-radius: 30px;
        font-weight: 700;

        transition: opacity 0.3s ease-in;
    }
    p.email{
        color: gray;
        text-align: center;
        font-size: 0.90em;
        font-weight: 400;
        line-height: 0.30em;
    }
     p.titulo{
        font-size: 1.1em;
        font-weight: 500;
    }
    .titulojump{
        font-size: 3.2em;
        font-weight: 400;
        text-align: center;
        line-height: 0.9em;
    }
    h2{
        font-size: 1.3em;
        font-weight: 300;
        text-align: center;
        color: gray;
    }
</style>
