<div class="jumpbotron">
    <div>
        <h1>Tu negocio puede ser un exito rotundo</h1>
    </div>
    <div class="boton">
        <div class="text">
            <div>
                <p>
                    Con nuestra plataforma, puedes crear tu tienda en linea y
                    vender tus productos de manera facil y rapida.
                </p>
            </div>
            <div class="botones">
                <button class="gratis">Comienza Gratis</button>
                <button class="planes">Ver Planes</button>
            </div>
        </div>
        <button>Por que creemos Shopify</button>
    </div>
</div>

<style>
    .jumpbotron {
        background-image: url('/');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: black;
        padding: 120px 60px;
        color: white;
    }
    .boton{
        display: flex;
        justify-content: space-between;
    
    }
    button{
        padding: 12px;
        border-radius: 30px;
        background-color: black;
        color: white;
        border: transparent 2px;
    }
    button.gratis{
        background-color: white;
        color: black;
    }
    button.planes{
       border: solid;
    }
    div.text {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
</style>