---
interface Props {
    titulo: string;
    subtitulo: string;
}
const { titulo, subtitulo } = Astro.props;
---

<div class="jumpbotron">
    <div class="titulo">
      <!--ARREGLAR ESTOS TITULOS PARA QUE SE VEA MEJOR -->  
        <p class="titulojump">Todo lo que necesitas para</p>
        <p class="titulojump">vender online, en un solo lugar</p>
        <p class="subtitulojump">Ya sea que quieras crear un sitio web, gestionar inventario o responder a tus</p>
        <p class="subtitulojump">clientes, hazlo todo con Shopify.</p>
    </div>
    <div class="email">
        <form class="email" action="">
            <input class="email" type="email" name="" id="" placeholder="Introduce tu correo electronico"/>
            <input class="boton" type="submit" value="Prueba gratis" />
        </form>
        <p class="email">
            Prueba Shopify gratis, sin tarjeta de crédito. Al ingresar tu correo electrónico, aceptas recibir correos electrónicos de marketing de Shopify.
        </p>
    </div>
</div>
<style>
    .jumpbotron {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background: #32f0b7;
        background: linear-gradient(90deg, rgba(50, 240, 183, 1) 20%, rgba(61, 235, 107, 1) 50%, rgba(50, 240, 183, 1) 80%);
        padding: 60px;
        color: black;
    }
    div.titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    div.email{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
    form.email{
        display: flex;
        justify-content: space-between;
        background-color: white;
        border: solid 2px;
        border-color: rgb(114, 111, 108);
        border-radius: 30px;
        padding: 6px;

        transition: border 0.6s ease-in;
        transition: border-color 0.3s ease-in;
        transition: border-radius 0.3s ease-in;
    }
    form:focus-within{
        border: solid 2px;
        border-color: blue;
        border-radius: 30px;
    }
    input.boton:hover{
        opacity: 0.8;
    }
    input.email{
        background-color: transparent;
        width: 600px;
        padding: 6px;
        color: black;
    }
    input.boton{
        background-color: black;
        color: white;
        padding: 18px;
        border: transparent 2px;
        border-radius: 30px;
        font-weight: 700;
    }
    p.email{
        text-align: center;
        font-size: 0.90em;
        font-weight: 400;
        
    }
    .titulojump{
        font-size: 3.2em;
        font-weight: 400;
        text-align: center;
        line-height: 0.9em;
    }  
    .subtitulojump{
        font-size: 1.3em;
        font-weight: 400;
        text-align: center;
        line-height: 0.9em;
        color: rgb(78, 76, 76);
    }
</style>
