<div>
    <div>
        <h1>Tu negocio puede ser un exito rotundo</h1>
    </div>
    <div>
        <div>
            <div>
                <p>
                    Con nuestra plataforma, puedes crear tu tienda en linea y
                    vender tus productos de manera facil y rapida.
                </p>
            </div>
            <div>
                <button>Comienza Gratis</button>
                <button>Ver Planes</button>
            </div>
        </div>
        <button>Por que creemos Shopify</button>
    </div>
</div>
