<div class="jumpbotron">
    <div>
        <p class="Titulo">Tu negocio puede ser </p>
        <p class="Titulo">un exito rotundo</p>
    </div>
    <div class="text">
        <div>
            <p>Sueña en grande, construye </p>
            <p>rápido y llega lejos con Shopify.</p>
        </div>
        <div class="boton">
            <div class="botones">
                <button class="gratis">Comienza Gratis</button>
                <button class="planes">Ver Planes</button>
            </div>
            <button>Por qué creemos Shopify</button>
        </div>
    </div>
</div>

<style>
    .jumpbotron {
        display: flex;
        flex-direction: column;
        gap: 72px;
        background-image: url("/");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: black;
        padding: 220px 96px;
        color: white;
    }
    .text {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    button {
        padding: 16px 24px;
        border-radius: 48px;
        background-color: black;
        color: white;
        border: transparent 2px;
        font-weight: 500;
        font-size: 1.3em;

        transition: opacity 0.3s ease-in-out;
    }
    button:hover{
        opacity: 0.6;
    }
    button.gratis {
        background-color: white;
        color: black;
    }
    button.planes {
        border: solid 2px;
    }
    div.botones{
        display: flex;
        align-items: center;
        gap: 16px;
    }
    div.boton {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .Titulo{
        font-size: 5em;
        font-weight: 400;
    }
    p{
        font-size: 1.5em;
        font-weight: 400;
        
    }
</style>
