---
import { Icon } from "astro-icon/components";
---

<header>
    <nav>
        <div>
            <a href="/"><Icon name="logos:shopify" width="56" height="56" /> </a>
            <ul>
                <li><a href="/solutions">Soluciones</a></li>
                <li><a href="/prices">Precios</a></li>
                <li><a href="/resources">Recursos</a></li>
            </ul>
        </div>
        <div>
            <! -- Falta la barra de busqueda -->
            <div>
                <button>Iniciar Sesion</button>
                <button>Comienza Gratis</button>
            </div>
        </div>
    </nav>
</header>
