<header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/precios">Precios</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/contact">Contactanos</a></li>
        </ul>
    </nav>
</header>