---
import { Icon } from "astro-icon/components";
---

<header>
    <nav class="barra">
        <div class="logo">
            <a href="/"
                ><Icon name="logos:shopify" width="56" height="56" />
            </a>
            <ul class="enlaces">
                <li><a class="text" href="/solutions">Soluciones <Icon name="tabler:caret-down-filled" width="16" height="16"/></a></li>
                <li><a class="text" href="/prices">Precios</a></li>
                <li><a class="text" href="/resources">Recursos <Icon name="tabler:caret-down-filled" width="16" height="16"/></a></li>
            </ul>
        </div>
        <div class="botones">
            <button class="login">Iniciar Sesion</button>
            <button class="gratis">Comienza Gratis</button>
        </div>
    </nav>
</header>

<style>
    .logo {
        display: flex;
        align-items: center;
        gap: 32px;
    }
    .barra {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 60px;
        background-color: white;
    }
    .enlaces {
        display: flex;
        gap: 24px;
    }
    a.text {
        display: flex;
        align-items: center;
        font-weight: 600;
        color: rgb(55, 55, 55);

        transition: text-decoration 0.3s ease-in;
    }
    .botones button{
        font-size: 1em;
        font-weight: 700;
        background-color: black;
        color: white;
        border-radius: 30px;
        border: transparent 2px;
        padding: 12px;
    }
    .botones button.login {
        background-color: white;
        color: rgb(55, 55, 55);
        transition: text-decoration 0.3s ease-in;
    }
    button{
        
    }
    button.gratis{
        transition: opacity 0.3s ease-in;
        transition: text-decoration 0.3s ease-in;
    }
    button.gratis:hover{
        opacity: 0.8;
    }
    a.text:hover{
        text-decoration: underline; 
    }
    button.login:hover{
        text-decoration: underline; 
    }
</style>
