---
import { Icon } from "astro-icon/components";
---

<header>
    <nav>
        <div>
            <Icon name="logos:shopify" width="56" height="56" />
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/precios">Precios</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/contact">Contactanos</a></li>
            </ul>
        </div>
        <div>
            <div>
                <button>Iniciar Seccion</button>
                <button>Comienza Gratis</button>
            </div>
        </div>
    </nav>
</header>
