---
interface Props {

    planname: string; 
    description: string; 
    price: string;
}

const { planname, description, price } = Astro.props
---
<div>
    <p>USD 1 al mes</p>
    <div>
        <div>
            <h1>{ planname }</h1>
            <p>Mas Popular</p>
        </div>
        <p>{ description }</p>

        <p>A partir de</p>
        <h2>{ price }</h2>
    </div>
    <div>
        <ul>
            <li>Primera lista</li>
        </ul>
        <ul>
            <li>Segunda lista</li>
        </ul>
        <button>Prueba Gratis</button>
    </div>
</div>
