---
interface Props {
    planname: string;
    description: string;
    price: string;
}

const { planname, description, price } = Astro.props;
---

<div class="tarjeta">
    <!--<p>USD 1 al mes</p> -->
    <div class="plan">
        <div class="tituloplan">
            <h1>{planname}</h1>
           <!-- <p class="polular">Más Popular</p> --> 
        </div>
        <p>{description}</p>
        <div>
            <p class="tituloprice">A partir de</p>
            <div class="price">
                <p class="price">{price}</p>
                <p>USD <br>al mes</p>
            </div>
        </div>
        <div>
            <slot />
        </div>
    </div>
    <button>Prueba Gratis</button>
    
</div>
<style>
    div.tarjeta {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(247, 241, 233);
        border: solid 1px;
        border-color: rgb(194, 188, 188);
        border-radius: 15px;
        padding: 16px;
        flex-basis: 400px;
    }
    p{ 
        font-size: 0.90em;
        font-weight: 500;
    }
    p.tituloprice{
        color:gray;
        padding: 16px 0 0;
    }
    p.price{
        font-size: 3em;
        font-weight: 400;
    }
    p.polular{
        background-color: rgb(125, 224, 44);
        border-radius: 15px;
        padding: 4px 8px;
        font-size: 1em;
    }
    h1{
        font-weight: 400;
        font-size: 2em;
    }
    div.price{
        display: flex;
        align-items: center;
        justify-content:start ;
        padding: 0 0 36px;
    }
    div.plan{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: start;
        justify-content: start;
        padding:0 0 36px ;
    }
    div.tituloplan{
        display: flex;
        align-items:center;
        justify-content: space-around;
    }
    
    button {
        padding: 12px 48px;
        border-radius: 30px;
        background-color: black;
        color: white;
        border: transparent 2px;
        font-weight: 700;
        font-size: 1em;
        
    }
</style>
