---

import { Icon } from 'astro-icon/components';


interface Props {
    subtitulo: string
    descrition: string
    // imgURL: string
    iconName: string
}

const { subtitulo, descrition, iconName } = Astro.props;
---

<div class="tarjeta">
    <!-- <img src={imgURL} /> -->
    <Icon name={iconName} />
    <div>
        <p>{subtitulo}</p>
        <p>{descrition}</p>
    </div>
</div>
<style>
    .tarjeta{
        width: 12em;
    }
</style>