---
interface Props {
    title: string;
    description: string;
    imgURL: string;
}
const { title, description, imgURL} = Astro.props
---
<div class="tarjeta">
    <img src={ imgURL } alt="">
    <div class="text">
        <h2> { title } </h2>
        <p> { description } </p>
    </div>
</div>

<style>
    img {
        width: 100%;
        height: 250;
        object-fit: cover;
    }
    p{
		color: gray;
	}
    div.tarjeta{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        flex-basis: 300px;	
        flex-grow: 1;
        background-color: #061a1c;
        border-radius: 15px;
        padding: 16px;
        gap: 12px;
    }
    .text  {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
</style>