---
interface Props {
    title: string;
    description: string;
    imgURL: string;
}
const { title, description, imgURL} = Astro.props
---
<div class="tarjeta">
    <img src={ imgURL } alt="">
    <div>
        <h2> { title } </h2>
        <p> { description } </p>
    </div>
</div>

<style>
    div.tarjeta{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 24px;
        flex-basis: 400px; 
    }
    img {
        width: 100%;
        height: 250;
        object-fit: cover;
        border-radius: 15px;
    }
    p{
		color: gray;
	}
</style>