<div>
    <img src="" alt=""/>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        voluptatibus, cumque, quibusdam, voluptates. Quisquam voluptatibus,
        cumque, quibusdam, voluptates.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        voluptatibus, cumque, quibusdam, voluptates. Quisquam voluptatibus,
        cumque, quibusdam, voluptates.
    </p>
</div>