<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Thonyg</title>
	</head>
	<body>
		<header>
			Aqui va el menú
		</header>

		<slot />

		<footer>Aqui va el pie de pagina</footer>
	</body>
</html>

